In [1]:
# mempersiapkan module yang diperlukan
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Fungtion and Maps

Dalam tutorial terakhir, kita mempelajari cara memilih data yang relevan dari DataFrame atau Seri. Memilih data yang tepat dari representasi data kami sangat penting untuk menyelesaikan pekerjaan, seperti yang kami tunjukkan dalam latihan.

Namun, data tidak selalu keluar dari memori dalam format yang kita inginkan. Kadang-kadang kita harus melakukan lebih banyak pekerjaan sendiri untuk memformat ulang untuk tugas yang ada. Tutorial ini akan mencakup berbagai operasi yang dapat kita terapkan pada data kita untuk mendapatkan masukan yang "tepat".

Kami akan menggunakan data olimpic untuk demonstrasi.

In [2]:
# mempersiapkan dataset yang diperlukan
Data = pd.read_csv('C:\Latihan\Latihan\Python\Sample Data\olympics2024.csv')
Data

    Rank        Country Country Code  Gold  Silver  Bronze  Total
0      1  United States           US    40      44      42    126
1      2          China          CHN    40      27      24     91
2      3          Japan          JPN    20      12      13     45
3      4      Australia          AUS    18      19      16     53
4      5         France          FRA    16      26      22     64
..   ...            ...          ...   ...     ...     ...    ...
86    84           Peru          PER     0       0       1      1
87    84          Qatar          QAT     0       0       1      1
88    84      Singapore          SIN     0       0       1      1
89    84       Slovakia          SVK     0       0       1      1
90    84         Zambia          ZAM     0       0       1      1

[91 rows x 7 columns]

Summary Fungtion

Pandas menyediakan banyak "fungsi ringkasan" sederhana (bukan nama resmi) yang menyusun ulang data dengan cara yang berguna. Misalnya, pertimbangkan metode deskripsikan():

In [3]:
# contoh 1

Data.Gold.describe()
# fungsi ini digunakan untuk menghasilkan ringkasan statistik dari kolom tertentu

count    91.000000
mean      3.604396
std       6.990278
min       0.000000
25%       0.000000
50%       1.000000
75%       3.000000
max      40.000000
Name: Gold, dtype: float64

Metode ini menghasilkan ringkasan tingkat tinggi dari atribut kolom tertentu. Ini peka terhadap tipe, artinya keluarannya berubah berdasarkan tipe data masukan. Output di atas hanya masuk akal untuk data numerik; untuk data string inilah yang kami dapatkan:

In [4]:
# contoh 2

Data.Country.describe()
# fungsi ini digunakan untuk menghasilkan ringkasan statistik dari kolom tertentu dengan tipe
# data string atau teks

count                91
unique               91
top       United States
freq                  1
Name: Country, dtype: object

Jika Anda ingin mendapatkan statistik ringkasan sederhana tertentu tentang kolom di DataFrame atau Seri, biasanya ada fungsi pandas yang membantu mewujudkannya.

Misalnya, untuk melihat rata-rata poin yang diberikan (misalnya, seberapa baik nilai rata-rata gold), kita dapat menggunakan fungsi mean():

In [5]:
# contoh 3
Data.Gold.mean()
# fungsi ini digunakan untuk menghitung nilai rata rata dalam suatu kolom

3.6043956043956045

untuk melihat daftar kolom yang mempunya tipe data bersifat unik dapat menggunakan sintaks seperti 
dibawah ini.

In [6]:
# contoh 4

Data.Country.unique()
# fungsi ini digunakan untuk daftar kolom yang mempunya tipe data bersifat unik

array(['United States', 'China', 'Japan', 'Australia', 'France',
       'Netherlands', 'Great Britain', 'South Korea', 'Italy', 'Germany',
       'New Zealand', 'Canada', 'Uzbekistan', 'Hungary', 'Spain',
       'Sweden', 'Kenya', 'Norway', 'Ireland', 'Brazil', 'Iran',
       'Ukraine', 'Romania', 'Georgia', 'Belgium', 'Bulgaria', 'Serbia',
       'Czech Republic', 'Denmark', 'Azerbaijan', 'Croatia', 'Cuba',
       'Bahrain', 'Slovenia', 'Chinese Taipei', 'Austria', 'Hong Kong',
       'Philippines', 'Algeria', 'Indonesia', 'Israel', 'Poland',
       'Kazakhstan', 'Jamaica', 'South Africa', 'Thailand', 'Ethiopia',
       'Switzerland', 'Ecuador', 'Portugal', 'Greece', 'Argentina',
       'Egypt', 'Tunisia', 'Botswana', 'Chile', 'St Lucia', 'Uganda',
       'Dominican Republic', 'Guatemala', 'Morocco', 'Dominica',
       'Pakistan', 'Turkey', 'Mexico', 'Armenia', 'Colombia',
       'North Korea', 'Kyrgyzstan', 'Lithuania', 'India', 'Moldova',
       'Kosovo', 'Cyprus', 'Fiji', 'Jordan', 'Mongolia', 'Panama',
       'Tajikistan', 'Albania', 'Grenada', 'Malaysia', 'Puerto Rico',
       'Cape Verde', 'Ivory Coast', 'Refugee Olympic Team', 'Peru',
       'Qatar', 'Singapore', 'Slovakia', 'Zambia'], dtype=object)

In [7]:
# contoh 5

Data.Country.value_counts()

Country
United States     1
Kyrgyzstan        1
Colombia          1
Armenia           1
Mexico            1
                 ..
Denmark           1
Czech Republic    1
Serbia            1
Bulgaria          1
Zambia            1
Name: count, Length: 91, dtype: int64