Belejar pengenalan pandas

In [4]:
# melakukan import module pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib created a temporary cache directory at C:\Users\mmuiz\AppData\Local\Temp\matplotlib-zawq_u56 because the default path (C:\Users\mmuiz\.matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.
Matplotlib is building the font cache; this may take a moment.

Membuat pandas Dataframe

In [5]:
# membuat pandas dataframe dengan ketentuan 2 buah kategori yang ditampung dalam bentuk 
# array dengan nama MyData
MyData = {
    'Nama' : ['Agus', 'Ramli', 'Asep', 'Awal'],
    'Nilai' : [88, 80, 90, 85]
}

# menampung nilai data yang terseida ke dalam variabel Dataset
Dataset = pd.DataFrame(MyData) 

# mnenampilkan dataset yang tersedia ke dalam pandas dataframe
print(Dataset)

    Nama  Nilai
0   Agus     88
1  Ramli     80
2   Asep     90
3   Awal     85

Membuat Pandas Series

Sebaliknya, Seri adalah urutan nilai data. Jika DataFrame adalah tabel, Seri adalah daftar. Dan sebenarnya Anda dapat membuatnya hanya dengan sebuah daftar:

In [6]:
# contoh 1
Data1 = pd.Series([2,4,6,8,10])
print(Data1)

0     2
1     4
2     6
3     8
4    10
dtype: int64

Seri, pada dasarnya, adalah satu kolom dari DataFrame. Jadi Anda dapat menetapkan label baris ke Seri dengan cara yang sama seperti sebelumnya, menggunakan parameter indeks. Namun, Seri tidak memiliki nama kolom, hanya memiliki satu nama keseluruhan:

In [7]:
# contoh 2
Data2 = pd.Series([20,30,40,50], index=['Villa A', 'Villa B', 'Villa C', 'Villa D'],
                  name='Harga Villa')
print(Data2)

Villa A    20
Villa B    30
Villa C    40
Villa D    50
Name: Harga Villa, dtype: int64

Seri dan DataFrame terkait erat. Sangat membantu untuk menganggap DataFrame sebenarnya hanyalah sekumpulan Seri yang "direkatkan". Kita akan melihat lebih banyak tentang ini di bagian selanjutnya dari tutorial ini.

Membaca File Data

membuat DataFrame atau Seri dengan tangan sangatlah berguna. Namun, seringkali, kami tidak benar-benar membuat data kami sendiri dengan tangan. Sebaliknya, kami akan bekerja dengan data yang sudah ada.

Data dapat disimpan dalam berbagai bentuk dan format. Sejauh ini, yang paling mendasar adalah file CSV yang sederhana.

Jadi file CSV adalah tabel nilai yang dipisahkan dengan koma. Oleh karena itu namanya: "Nilai yang Dipisahkan Koma", atau CSV.

Sekarang mari kita kesampingkan kumpulan data mainan kita dan lihat seperti apa kumpulan data sebenarnya saat kita membacanya ke dalam DataFrame. Kami akan menggunakan fungsi pd.read_csv() untuk membaca data ke dalam DataFrame. Ini berlaku sebagai berikut:

In [8]:
# contoh 3
Data3 = pd.read_csv('C:\Latihan\Latihan\Python\Sample Data\olympics2024.csv')
print(Data3)

    Rank        Country Country Code  Gold  Silver  Bronze  Total
0      1  United States           US    40      44      42    126
1      2          China          CHN    40      27      24     91
2      3          Japan          JPN    20      12      13     45
3      4      Australia          AUS    18      19      16     53
4      5         France          FRA    16      26      22     64
..   ...            ...          ...   ...     ...     ...    ...
86    84           Peru          PER     0       0       1      1
87    84          Qatar          QAT     0       0       1      1
88    84      Singapore          SIN     0       0       1      1
89    84       Slovakia          SVK     0       0       1      1
90    84         Zambia          ZAM     0       0       1      1

[91 rows x 7 columns]

In [13]:
# contoh 4 = menampilkan seluruh data pada dataframe
Data3 = pd.read_csv('C:\Latihan\Latihan\Python\Sample Data\olympics2024.csv', index_col = 0)
Data3

            Country Country Code  Gold  Silver  Bronze  Total
Rank
1     United States           US    40      44      42    126
2             China          CHN    40      27      24     91
3             Japan          JPN    20      12      13     45
4         Australia          AUS    18      19      16     53
5            France          FRA    16      26      22     64
...             ...          ...   ...     ...     ...    ...
84             Peru          PER     0       0       1      1
84            Qatar          QAT     0       0       1      1
84        Singapore          SIN     0       0       1      1
84         Slovakia          SVK     0       0       1      1
84           Zambia          ZAM     0       0       1      1

[91 rows x 6 columns]

In [9]:
# Kita dapat menggunakan atribut shape untuk memeriksa seberapa besar DataFrame yang dihasilkan:
# contoh 5
Data3.shape

(91, 7)

In [12]:
# contoh 6

# Kita dapat memeriksa konten DataFrame yang dihasilkan menggunakan perintah head(),
# yang mengambil lima baris pertama:

Data3.head()

   Rank        Country Country Code  Gold  Silver  Bronze  Total
0     1  United States           US    40      44      42    126
1     2          China          CHN    40      27      24     91
2     3          Japan          JPN    20      12      13     45
3     4      Australia          AUS    18      19      16     53
4     5         France          FRA    16      26      22     64